tests/org.eclipse.emf.texo.modelgenerator.test/src/org/eclipse/emf/texo/modelgenerator/test/models/issues/bz393240.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.eclipse.org/emf/texo/test/model/issues/bz393240"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.eclipse.org/emf/texo/test/model/issues/bz393240">

	<xs:element name="applicationRequest" type="application"/>
	<xs:element name="applicationResponse" type="application"/>

	<xs:complexType name="application">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
