tests/org.eclipse.emf.texo.modelgenerator.test/src/org/eclipse/emf/texo/modelgenerator/test/models/texo/TexoModelExtensions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://www.eclipse.org/emf/texo/xml/model/texo_extensions"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:attribute name="title" type="xsd:string" />

	<xsd:attribute name="id" type="xsd:string" />

	<xsd:attribute name="type" type="xsd:string" />
	
</xsd:schema>
